.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include phablet {
    max-width: 576px;
  }
  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 640px;
  }
  @include laptop {
    max-width: 720px;
  }
}
