@import '../../sass/helpers/all';

.favorite {
  padding-top: 50px;
  width: 100%;
  text-align: center;

  &__logo {
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
    color: $color-secondary;
    font-weight: 500;
    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      font-size: 3rem;
    }
  }

  &__input {
    padding: 0.5rem;
    width: 100%;
    font-size: $font-size-base;
    border: 1px solid $color-form-input;
    border-radius: 4px;
    &:focus {
      outline: none;
      border-color: $color-primary;
      box-shadow: 0 0 2px 2px rgba($color-primary, 0.5);
    }
  }
}
